#main{
    display: flex;
    flex-direction: row;
}

#searchParameters{
    position: fixed;
    margin-right: 10vh;
    margin-top: 1vh;
    border: 1px solid black;
    border-radius: 1vh;
    padding: 1vh;
    background-color: lightgray;
    width: 30vh;
    /* height: 60vh; */
}

#searchParameters input{
    width: 90%;
    /* height: 2.5vh; */
}

#results{
    margin-left: 40vh;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}

#resultEntry{

    border: 1px solid black;
    border-radius: 1vh;
    padding: 1vh;
    margin-bottom: 1vh;
    background-color: lightgray;
    width: 42vh;
}

img{
    max-width: 40vh;
}

#moreData{
    margin-left: 2px;
}

#thumbImg{
    margin-left: 1vh;
    margin-top: 1vh;
    margin-right: 1vh;
}

#addRunout{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 95%;
    height: 4vh;
}

#submitButton{
    margin-bottom: 2vh;
    width: 95%;
    height: 4vh;
}
